/************************************************

Stylesheet: Global Stylesheet

*************************************************/
/*********************
POSTS & CONTENT STYLES
*********************/
.page-title .vcard {
  border: 0px;
  padding: 0px; }

.byline {
  color: #999; }

.entry-content img {
  max-width: 100%;
  height: auto; }

.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto; }

.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px; }

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px; }
  .wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

.post-password-form input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe; }
  [data-whatinput='mouse'] .post-password-form input[type="submit"] {
    outline: 0; }
  .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    background-color: #14679e;
    color: #fefefe; }

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-right: -15px;
  margin-left: -15px; }

.gallery::before, .gallery::after {
  content: ' ';
  display: table; }

.gallery::after {
  clear: both; }

.gallery.gallery-columns-1 > dl {
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-1 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-1 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-2 > dl {
  width: 50%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-2 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-2 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-3 > dl {
  width: 33.33333%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-3 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-3 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-4 > dl {
  width: 25%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-4 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-4 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-5 > dl {
  width: 20%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-5 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-5 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-6 > dl {
  width: 16.66667%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-6 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-6 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-7 > dl {
  width: 14.28571%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-7 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-7 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-8 > dl {
  width: 12.5%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-8 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-8 > dl:last-child:not(:first-child) {
    float: right; }

.gallery dl {
  width: 100%;
  float: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.gallery dl:last-child:not(:first-child) {
  float: right; }

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem; }

/*********************
COMMENT STYLES
*********************/
#comments .commentlist {
  margin-left: 0px; }

#respond ul {
  margin-left: 0px; }

.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px; }
  .commentlist li:last-child {
    margin-bottom: 0; }
  .commentlist li ul.children {
    margin: 0; }

.commentlist li[class*=depth-] {
  margin-top: 1.1em; }

.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0; }

.commentlist li:not(.depth-1) {
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 0; }

.commentlist .vcard {
  margin-left: 50px; }
  .commentlist .vcard cite.fn {
    font-weight: 700;
    font-style: normal; }
  .commentlist .vcard time {
    float: right; }
    .commentlist .vcard time a {
      color: #999;
      text-decoration: none; }
      .commentlist .vcard time a:hover {
        text-decoration: underline; }
  .commentlist .vcard img.avatar {
    position: absolute;
    left: 10px;
    padding: 2px;
    border: 1px solid #cecece;
    background: #fff; }

.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em; }

.commentlist .comment-reply-link {
  float: right; }

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em; }
  .respond-form form {
    margin: 0.75em 0; }
    .respond-form form li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.7335em; }
      .respond-form form li label,
      .respond-form form li small {
        display: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url],
    .respond-form form textarea {
      padding: 3px 6px;
      background: #efefef;
      border: 2px solid #cecece;
      line-height: 1.5em; }
      .respond-form form input[type=text]:focus,
      .respond-form form input[type=email]:focus,
      .respond-form form input[type=url]:focus,
      .respond-form form textarea:focus {
        background: #fff; }
      .respond-form form input[type=text]:invalid,
      .respond-form form input[type=email]:invalid,
      .respond-form form input[type=url]:invalid,
      .respond-form form textarea:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -ms-box-shadow: none;
        box-shadow: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url] {
      max-width: 400px;
      min-width: 250px; }
    .respond-form form textarea {
      resize: none;
      width: 97.3%;
      height: 150px; }

#comment-form-title {
  margin: 0 0 1.1em; }

#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

.nocomments {
  margin: 0 20px 1.1em; }

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar li {
  list-style: none; }

.widget ul {
  margin: 0; }

/*********************
FOOTER STYLES
*********************/
.footer {
  clear: both;
  margin-top: 1em; }

/*********************
VISUAL EDITOR STYLES
*********************/
body#tinymce {
  margin: 20px; }

/*********************
PLUGIN STYLES
*********************/
.gform_body ul {
  list-style: none outside none;
  margin: 0; }

/*# sourceMappingURL=style.css.map */

/*********************
FLIRTY GIRL CUSTOMZATIONS
*********************/

body { color:#000000; }
body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: 'Ubuntu', sans-serif; }
a, a:focus, a:hover { color:#000000; }

.h1, h1 { font-size:42px; font-weight:400; }
.h2, h2 { font-size:36px; font-weight:500; }
.h3, h3 { font-size:24px; font-weight:400; }
.h4, h4 { font-size:22px; font-weight:500; }
.h5, h5 { font-size:20px; font-weight:400; }
.h6, h6 { font-size:16px; font-weight:400; }

.blk { color:#101010; }
.blk-bgnd { background-color:#101010; }
.gry { color:#ababab; }
.gry-bgnd { background-color:#ababab; }
.dk-gry { color:#2a2a2a; }
.dk-gry-bgnd { background-color:#2a2a2a; }
.pnk { color:#ec008c; }
.pnk-bgnd { background-color:#ec008c; }

.h-100 { height:100%; }
.m-rem-20 { margin:2rem 0rem; }
.m-rem-22 { margin:2rem; }
.p-rem-20 { padding:2rem 0rem; }
.p-rem-22 { padding:2rem; }
.title-bar { display:inherit; text-align:center; }

.header.full { background-image: url(../images/fg-nav-header.jpg); background-position:top center; background-size:cover;  }
.top-bar, .top-bar ul { background-color: inherit; }

.menu .active a { background:none; color:#ec008c; }
.menu a { background:none; color:#000; padding: 1.5rem 1rem 0rem !important; }

.page .page-hero, 
.page-parent .page-hero { height: 570px; background-position: center center; background-size: cover; background-repeat: no-repeat; }
.page-child .page-hero { height: 285px; background-position: center center; background-size: cover; background-repeat: no-repeat; }

.page-hero h2, .page-hero h4 { color:#fff; }

.flourish-text { text-align:center; margin:unset; padding:0em .5em; }
.gray.flourish-text, .black.flourish-text { color:#000; }
.white.flourish-text { color:#fff; }

.cta-button, .slide-cta-button {
  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;
  border-width: 3px;
  border-color: rgb(236, 0, 140);
  border-style: solid;
  border-radius: 15px;
  padding:.25rem 1.5rem;}
.cta-button  { color:#000; background-color:transparent; }
.slide-cta-button  { color:#fff; background-color:transparent; }
.cta-button:hover, .slide-cta-button:hover { color:#fff; background-color:rgb(236, 0, 140); }

.content { margin-top:4rem; }

.service-grid .circle { border:4px solid rgb(171, 171, 171); border-radius:100%; text-align:center; }
.service-grid .circle-text, .service-grid .circle-image { /*padding:0em;*/ }
.service-grid .circle-text .circle { display:flex; justify-content:center; align-items:center; /*height:100%;*/ height: auto; position: relative; width: 100%; padding-top: 100%; margin-top: 125px; }
.service-grid .circle-text .circle .circle-content { /*padding:3em 3em;*/ position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
.service-grid .circle .circle-content h3 { margin-bottom:0em; }
.service-grid .circle .circle-content p { line-height:1.2; margin-bottom:0.5em; }
.service-grid .circle-image .circle img { border-radius:100%; }
.service-grid .pic-circle img { border-radius:50%; height:180px; border:4px solid rgb(171, 171, 171); }
.service-grid .circle-text { /*padding:10em 2em 2em;*/ padding:2em; }
.service-grid .pic-circle { position:relative; height:1px; /*top:-140px;*/ top:0; z-index:5; }

.pic-circle img { border-radius:50%; height:180px; border:4px solid rgb(171, 171, 171); }

.community { 
  padding:6em 0em; 
  background-image: url(../images/fg-community-bgnd.jpg); 
  background-position:bottom center; 
  background-size:cover; 
  background-attachment:fixed; 
}
.community h3 { color:#fff; text-align:center; padding:3rem; }

.aftercare { 
  padding:6em 0em; 
  background-image: url(../images/fg-lashcare-bgnd.jpg); 
  background-position:bottom center; 
  background-size:cover; 
  background-attachment:initial; 
}
.services { padding:4em 0em; }
.services .headline.gray { color:rgb(171, 171, 171); text-align:center; }
.services .service-section { padding:1em 0em; }
.services .service-section .circle { border:4px solid rgb(171, 171, 171); border-radius:100%; text-align:center; }
.services .service-section .circle-text, .services .service-section .circle-image { padding:0em; }
.services .service-section .circle-text .circle { display:flex; justify-content:center; align-items:center; height:100%; }
.services .service-section .circle-text .circle .circle-content { padding:2em 1em; }
.services .service-section .circle-text .circle .circle-content h3 { margin-bottom:0em; }
.services .service-section .circle-text .circle .circle-content p { line-height:1.2; margin-bottom:0.5em; }
.services .service-section .circle-image .circle img { border-radius:100%; }

#book-now { margin-top:4em; margin-bottom:4em; border:4px solid rgb(236, 0, 140); text-align:center; }
#book-now h1 { text-transform:uppercase; color:#ec008c; }

/* OFF CANVAS CUSTOMZATIONS */
.position-right { width:91.66667%; /* small-11 */ }
.off-canvas-content.is-open-right.has-transition-push {
    -webkit-transform: translateX(-91.66667%);
    -ms-transform: translateX(-91.66667%);
    transform: translateX(-91.66667%);
}
/* FOOTER CUSTOMIZATIONS */
.footer { padding:4em 0em; background-image: url(../images/fg-footer-bgnd.jpg); background-position:bottom center; background-size:cover; }
.footer-cta { background-image: url(../images/fg-footer-cta-bgnd.png); background-position:bottom center; background-size:cover; color:#000;}
.footer, .footer a { color:#fff; }
.footer nav .menu li {  }
.footer .copyright { font-size:14px; margin:3em 0em 0em; }
.footer .footbox { border:1px solid #fff; border radius:4px; }
.footer .footbox .inner-footbox {}
.footer .site-social img { max-height:36px; }
.footer #footer-links .link { font-size:20px; }
.footer #footer-links .link img { padding-right:1em; }

/*********************
WP STORE LOCATOR CUSTOMZATIONS
*********************/
.wpsl-no-results-msg { width:100%; text-align:center; }

#wpsl-wrap #wpsl-result-list li { border-bottom:unset; }

/*********************
ORBIT SLIDER
*********************/
.orbit-figure { min-height:auto; }
.orbit-caption {
  background-color: rgb(16, 16, 16);
  opacity: 0.969;
  color:#fff;
  text-align:center;
  width:50%;
  padding-bottom:4em;
}
.orbit-caption h4 { padding: 0em 1.75em; }
.orbit-caption-meta h2 { margin-top:0.75em; }
.NOTslide-cta-button { 
  color:#333333;
  font-weight:700;
  text-transform:uppercase;
  border:3px solid #F3822F;
  border-radius:50px;
  display:inline-block;
  padding:0.25em 1.5em;
  margin:1em;
}
.NOTslide-cta-button:hover { border-color:#FFF; }
.orbit-next, .orbit-previous { font-size:4em; color:rgba(255, 255, 255, .5); top:75%; }
.orbit-next:active, .orbit-next:focus, .orbit-next:hover, .orbit-previous:active, .orbit-previous:focus, .orbit-previous:hover { background:none; }
.orbit-bullets {
  position:absolute;
  bottom:.125em;
  width:100%;
}
.orbit-bullets button {
    /*width: 2rem;
    height: .25rem;
    margin: .1rem;
    border-radius: 0;*/
    background-color: #565453;
  }
.orbit-bullets button.is-active, .orbit-bullets button:hover {
    background-color: rgb(236, 0, 140);
  }


/*********************
OWL CAROUSEL CUSTOMIZATIONS
*********************/
#instagram-carousel .owl-prev, #instagram-carousel .owl-next { width: 15px; height: 70px; position: absolute; top: 25%; display: block !important; }
#instagram-carousel .owl-prev { margin-left: -20px; }
#instagram-carousel .owl-next { right: -25px; }
#instagram-carousel .owl-prev i, #instagram-carousel .owl-next i {transform : scale(2,3); color: #ec008c;} 
#instagram-carousel .owl-item img { max-height:200px; width:auto; margin:auto; }

#aftercare-carousel .owl-prev, #aftercare-carousel .owl-next { width: 15px; height: 70px; position: absolute; top: 25%; display: block !important; }
#aftercare-carousel .owl-prev { margin-left: -20px; }
#aftercare-carousel .owl-next { right: -25px; }
#aftercare-carousel .owl-prev i, #aftercare-carousel .owl-next i {transform : scale(2,3); color: #ec008c;} 

#browcare-carousel .owl-prev, #browcare-carousel .owl-next { width: 15px; height: 70px; position: absolute; top: 25%; display: block !important; }
#browcare-carousel .owl-prev { margin-left: -20px; }
#browcare-carousel .owl-next { right: -25px; }
#browcare-carousel .owl-prev i, #browcare-carousel .owl-next i {transform : scale(2,3); color: #ec008c;} 

/*********************
MEDIA QUERIES
*********************/

/* Define mobile styles */
@media only screen {
  .footer nav .menu li { width:100%; }
  .orbit-figure { min-height:480px; }
  .orbit-caption { opacity: 1; padding:.25rem; width:100%; bottom:unset; background-color:rgb(16, 16, 16); }
  .services .service-section .circle-text, .services .service-section .circle-image { padding:2em; }
  .services .service-section .circle-text { height: calc(100vw - 1.25rem); }
} 

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
  .orbit-figure { min-height:480px; }
  .orbit-caption { opacity: 1; padding:1rem; width:100%; bottom:unset; height:unset; }
  .services .service-section .circle-text, .services .service-section .circle-image { padding:1em; }
  .services .service-section .circle-text { height: inherit; }
}

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
  .footer nav .menu li { width:auto; }
  .orbit-figure { min-height:480px; }
  .orbit-caption { opacity: 0.969; padding:2rem; width:50%; bottom:0; height:100%; background-color:transparent; }

} 

/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {

} 

/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) {

} 